@keyframes full-rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes bounce-rotate{
    from{
        transform: rotate(-45deg);
    }
    to{
        transform: rotate(45deg);
    }
}

@keyframes color-wheel{
    from{
        filter:hue-rotate(0deg);
    }
    to{
        filter:hue-rotate(360deg);
    }
}

@keyframes scale-bounce{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.2);
    }
}

.full-rotate-anim{
    animation: full-rotate 2s linear infinite forwards;
}
.bounce-rotate-anim{
    animation: bounce-rotate 1s linear infinite alternate;
}
.color-wheel-anim{
    animation: color-wheel 1s linear infinite forwards;
}
.scale-bounce-anim{
    animation: scale-bounce .5s linear infinite alternate;
}

@keyframes smartguy-anim{
    0%{
        transform: scale(2) rotate(0deg);
        filter:hue-rotate(0deg);
    }
    25%{
        transform: scale(1) rotate(90deg);
        filter:hue-rotate(90deg);
    }
    50%{
        transform: scale(2) rotate(180deg);
        filter:hue-rotate(180deg);
    }
    75%{
        transform: scale(1) rotate(90deg);
        filter:hue-rotate(270deg);
    }
    100%{
        transform: scale(2) rotate(360deg);
        filter:hue-rotate(360deg);
    }
}