body{
    margin:0;
    padding: 0;
}

img{
    width:100%;
    height: 100%;
}

.parent{
    width:100vw;
    height:100vh;
    margin-top:-100vh;
}
.parent > *{
    overflow: clip;
    pointer-events: none;
}

.div1{
    border:4px dashed #f48c15;
}
.div1 img{
    width:100%;
    height:100%;
}


.div2{
    display:flex;
    flex-wrap: wrap;
}
.div2 img{
    width:50%;
    height:50%;
}


.div3{
    background-image: url("./assets/crazy.gif");
}


.div5 p{
    font-size:2rem;
    color: #ff00ff;
    font-family: "Butcherman", system-ui;
    position:absolute;
    top:20%;
    z-index: 999;
}
.d5-apple{
    width:50%;
    height:50%;
    margin-top:-100%;
    z-index:100;
    top:-50px;
    position:relative;
}
.d5-iphone{
    position: static;
    top: 0;
    right: 0;
}

.div6{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.div6 img{
    width:50%;
    height:20%;
}

.div19 p{
    font-size:1.2rem;
    color: #000000;
    position:absolute;
    font-weight: bolder;
    top:0%;
    z-index: 999;
}
.div25 img{
    animation: smartguy-anim 1s infinite linear forwards;
}
.div21{
    overflow: clip;
    display:flex;
    /*flex-wrap: wrap;*/
}
.div21 img{
    width:100%;
    height:50%;
}

.div24 img{
}